@import url('http://fonts.googleapis.com/css?family=Sail|Shadows+Into+Light|Rock+Salt|Permanent+Marker|Bangers|Audiowide|Coda');

html {
    position: relative;
    height: 100%;   
    width: 100%;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #C7CFCC;
    text-align: center;
    overflow: auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: url('../img/LedZep_dryice.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center; 
}

/* -----------Main Page Header--------- */
header {
    text-align: center;
    padding-bottom: 10px;
    color: #A5FFE1;
    text-shadow: 2px 2px 2px #D63A40;
}
    header h1 {
        font-size: 400%;
        font-family: 'Audiowide', cursive;
    }

/* -----------Middle Section with specific styles for lyrics, song, artist-------------- */
section {
    padding: 10px 0 10px 0;
}
    #middle {
       background-color: rgba(144, 144, 233, 0.47);
    }
#lyrics {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    font-size: 120%;
}
.song {
    font-weight: 800;
    font-family: 'Rock Salt', cursive;
    font-size: 120%;
    justify-content: center;
    align-items: center;
}

/* ------------------Style for Buttons---------------------- */
.test-button button {
    margin-right: 30px !important;
    font-family: 'Permanent Marker', cursive;
    font-weight: 700;
    box-shadow: 1px 1px 2px #242424;
    border: 1px solid #242424;
}
.glyphicon {
    margin: 7px;
}

/* -------------Jumbotron/Hero Area------------------------ */
.jumbotron {
    color: #A5FFE1;
    background-color: rgba(77, 77, 77, 0.56);
}
    .jumbotron p {
        
    }

/* ------------- Navigation --------- */
.navbar {
    background-color: rgba(186, 186, 191, 0.63);  
    font-weight: bold;
    border-bottom: 3px solid #000;
    padding: 7px;
    align-items: center;
}
.navbar .navbar-nav > li > a {
    color: #2B497D;
    font-weight: bold;
}

/* ---------- Learn More Button ------------ */
a#learn-btn {
    background-color: #D63A40;
    box-shadow: 1px 1px 2px #242424;
}

/* ------------Footer Area ----------------- */
footer {
    padding: 20px 0 20px 0;
    width: 100%;
    background-color: rgba(43, 73, 125, 0.84);
    clear: both;
    border-top: 1px solid #d1d1d1;
    overflow: auto;
    vertical-align: bottom;
    color: #d1d1d1;
}
footer p {
    float: right; 
    color: #d1d1d1;
    padding-right: 10px;
}